:root {
  --swmColorYellow: #ffe780;
  --swmColorSeaBlue: #87cce8;
  --swmColorSeaBlue40: #b5e1f1;
  --swmColorNick: #38acdd;
  --swmColorGray: #6676aa;
  --swmColorPink: #ffa3a1;
  --swmColorPink100: #ff6259;
  --swmColorGreen: #b1dfd0;
  --swmColorBase: #001a72;
}

@value swmColorYellow: var(--swmColorYellow);
@value swmColorSeaBlue: var(--swmColorSeaBlue);
@value swmColorPink: var(--swmColorPink);
@value swmColorGreen: var(--swmColorGreen);
/* @value swmColorNick:  var(--swmColorNick);
@value swmColorGray: var(--swmColorGray); */

.container {
  padding: 76px;
  width: fit-content;
  margin: 0 auto;
}

.container > * {
  display: block;
  margin-top: 24px;
}

.container > *:first-child {
  margin-top: 0px;
}

.containerWrapper {
  background-color: var(--swmColorSeaBlue40);
}

.cardsGrid {
  display: grid;
  width: fit-content;
  margin: unset auto;
  grid-template-columns: repeat(4, auto);
  grid-row-gap: 56px;
  grid-column-gap: 16px;
}

@media only screen and (max-width: 1440px) {
  .cardsGrid {
    grid-template-columns: repeat(3, auto);
  }
}

@media only screen and (max-width: 1200px) {
  .cardsGrid {
    grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (max-width: 480px) {
  .cardsGrid {
    grid-template-columns: auto;
  }
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  padding: 24px;
  background-color: #fff;
}

.card:hover {
  background-color: var(--swmColorBase);
  transition-duration: var(--ifm-button-transition-duration);
  transition-timing-function: var(--ifm-transition-timing-default);
}

.card:hover .cardTitle {
  color: var(--swm-color-bright);
}

.cardDescription {
  padding-top: 24px;
}

.cardAuthor {
  color: var(--swmColorGray);
  font-weight: 600;
}

.cardTextNick {
  color: var(--swmColorNick);
}

.cardImgContainer {
  background-color: black;
  width: 380px;
  height: 470px;
}

.cardImg {
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.filter {
  margin-top: 0;
  padding: 24px;
  background-color: #fff;
  width: fit-content;
}

.filter > * {
  margin-top: 24px;
}

.filter > *:first-child {
  margin-top: 0;
}

.filterButton {
  margin-bottom: 0;
}

.resetFilters {
  all: unset;
  display: block;
  color: var(--swmColorPink100);
}

.resetFilters:hover {
  text-decoration: underline;
  cursor: pointer;
}
